In [2]:
import pandas as pd

In [4]:
test = pd.read_csv("data/green_tripdata_2019-01.csv.gz")
test.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

In [10]:
import csv
import gzip
file = gzip.open('green_tripdata_2019-01.csv.gz', "r", newline="")
csvreader = csv.reader(file, delimiter=',')
header = next(csvreader)

ValueError: Argument 'newline' not supported in binary mode

In [12]:
with gzip.open("green_tripdata_2019-01.csv.gz", "rt", newline="") as file:
    reader = csv.reader(file)
    print(list(reader))

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [7]:
for row in csvreader:
    key = {"vendorId": int(row[0])}
    value = {"vendorId": int(row[0])}
    print(value)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x8b in position 1: invalid start byte

In [6]:
test_head = test.head()
for index, row in test_head.iterrows():
    print(row['VendorID'], row['lpep_pickup_datetime'])

2 2018-12-21 15:17:29
2 2019-01-01 00:10:16
2 2019-01-01 00:27:11
2 2019-01-01 00:46:20
2 2019-01-01 00:19:06

In [7]:
test = pd.read_csv("data/fhv_tripdata_2019-01.csv.gz")
test.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00001,2019-01-01 00:30:00,2019-01-01 02:51:55,NaN,NaN,NaN,B00001
1,B00001,2019-01-01 00:45:00,2019-01-01 00:54:49,NaN,NaN,NaN,B00001
2,B00001,2019-01-01 00:15:00,2019-01-01 00:54:52,NaN,NaN,NaN,B00001
3,B00008,2019-01-01 00:19:00,2019-01-01 00:39:00,NaN,NaN,NaN,B00008
4,B00008,2019-01-01 00:27:00,2019-01-01 00:37:00,NaN,NaN,NaN,B00008

In [12]:
test[test["PUlocationID"].notna()]

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
101,B00254,2019-01-01 00:33:03,2019-01-01 01:37:24,140.0,52.0,NaN,B02356
102,B00254,2019-01-01 00:03:00,2019-01-01 00:34:25,141.0,237.0,NaN,B00254
103,B00254,2019-01-01 00:45:48,2019-01-01 01:26:01,237.0,236.0,NaN,B00254
104,B00254,2019-01-01 00:37:39,2019-01-01 01:44:59,162.0,85.0,NaN,B00254
105,B00254,2019-01-01 00:35:06,2019-01-01 01:30:21,237.0,246.0,NaN,B00254
...,...,...,...,...,...,...,...
23143181,B03040,2019-01-31 23:32:45,2019-01-31 23:32:49,247.0,45.0,NaN,B03040
23143183,B03046,2019-01-31 23:37:00,2019-01-31 23:54:00,265.0,265.0,NaN,B03046
23143184,B03046,2019-01-31 23:58:00,2019-02-01 00:59:00,265.0,265.0,NaN,B03046
23143185,B03046,2019-01-31 23:46:00,2019-02-01 00:21:00,265.0,265.0,NaN,B03046
23143211,B03074,2019-01-31 23:45:00,2019-02-01 00:52:00,132.0,265.0,NaN,B03074

In [9]:
import numpy as np
np.NaN

nan

# Pyspark

In [1]:
import findspark
findspark.init()

import pyspark

In [2]:
import os

spark_version = '3.0.3'
os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages org.apache.spark:spark-sql-kafka-0-10_2.12:3.0.3,org.apache.spark:spark-avro_2.12:3.0.3 pyspark-shell'

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local") \
    .appName('test') \
    .getOrCreate()
spark.version

'3.0.3'

In [9]:
df = spark \
  .readStream \
  .format("kafka") \
  .option("kafka.bootstrap.servers", "localhost:9092") \
  .option("subscribe", "rides_green,rides_fhv") \
  .option("includeHeaders", "true") \
  .load()

In [5]:
print(df.selectExpr("CAST(key AS STRING)", "CAST(value AS STRING)", "headers"))

DataFrame[key: string, value: string, headers: array<struct<key:string,value:binary>>]

In [6]:
df.selectExpr("CAST(key AS STRING)", "CAST(value AS STRING)", "headers").printSchema()

root
 |-- key: string (nullable = true)
 |-- value: string (nullable = true)
 |-- headers: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- key: string (nullable = true)
 |    |    |-- value: binary (nullable = true)

In [7]:
green_taxi_schema = StructType([
    StructField("vendorId",StringType()),
    StructField("pickup_datetime",StringType()),
    StructField("dropoff_datetime",StringType()),
    StructField("PULocationID",StringType()),
    StructField("DOLocationID",StringType()),
    StructField("passenger_count",StringType()),
    StructField("trip_distance",StringType()),
    StructField("payment_type",StringType()),
    StructField("total_amount",StringType()),
])
fhv_taxi_schema = StructType([
    StructField("dispatching_base_num",StringType(),True),
    StructField("pickup_datetime",StringType(),True),
    StructField("dropoff_datetime",StringType(),True),
    StructField("PULocationID",IntegerType(),True),
    StructField("DOLocationID",IntegerType(),True),
    StructField("affiliated_base_number",StringType(),True),
])

In [10]:
green_df = df.selectExpr(
        "CAST(key AS STRING)", "CAST(value AS STRING)"
).filter(
    col("topic")=="rides_green"
).select(
    col("key"),
    from_json(col("value"), green_taxi_schema).alias("value")
)

In [7]:
# Convert binary to string key and value
df1 = (df
    .withColumn("key", df["key"].cast(StringType()))
    .withColumn("value", df["value"].cast(StringType())))

NameError: name 'df' is not defined

In [8]:
green_df=(df1.withColumn("value", from_json("value", green_taxi_schema)))

In [9]:
green_df.printSchema()

root
 |-- key: string (nullable = true)
 |-- value: struct (nullable = true)
 |    |-- vendorId: integer (nullable = true)
 |    |-- pickup_datetime: string (nullable = true)
 |    |-- dropoff_datetime: string (nullable = true)
 |    |-- PULocationID: integer (nullable = true)
 |    |-- DOLocationID: integer (nullable = true)
 |    |-- passenger_count: integer (nullable = true)
 |    |-- trip_distance: long (nullable = true)
 |    |-- payment_type: integer (nullable = true)
 |    |-- total_amount: long (nullable = true)

In [8]:
ds = df \
  .selectExpr("CAST(key AS STRING)", "CAST(value AS STRING)") \
  .writeStream \
  .format("kafka") \
  .option("kafka.bootstrap.servers", "localhost:9092") \
  .option("topic", "rides_all") \
  .option("checkpointLocation", "data/") \
  .start()

In [5]:
from json import loads
green_taxi_stream = spark \
  .readStream \
  .format("kafka") \
  .option("kafka.bootstrap.servers", "localhost:9092") \
  .option("subscribe", "rides_green") \
  .option("startingOffsets", "latest") \
  .option("checkpointLocation", "checkpoint") \
  .option("value.serializer","org.common.serialization.StringSerializer") \
  .load()

In [7]:
def parse_ride_from_kafka_message(df_raw, schema):
    """ take a Spark Streaming df and parse value col based on <schema>, return streaming df cols in schema """
    assert df_raw.isStreaming is True, "DataFrame doesn't receive streaming data"

    df = df_raw.selectExpr("CAST(key AS STRING)", "CAST(value AS STRING)")

    # split attributes to nested array in one Column
    col = split(df['value'], ', ')

    # expand col to multiple top-level columns
    for idx, field in enumerate(schema):
        df = df.withColumn(field.name, col.getItem(idx).cast(field.dataType))
    return df.select([field.name for field in schema])

In [8]:
green_df = parse_ride_from_kafka_message(df_raw=green_taxi_stream, schema=green_taxi_schema)

In [9]:
from pyspark.sql.avro.functions import *
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [6]:
jsonFormatSchema = open("green_taxi_ride_value.avsc", "r").read()

In [7]:
import json
json.loads(jsonFormatSchema)

{'namespace': 'com.datatalksclub.taxi',
 'type': 'record',
 'name': 'GreenTaxiRide',
 'fields': [{'name': 'vendorId', 'type': 'int'},
  {'name': 'pickup_datetime', 'type': 'string'},
  {'name': 'dropoff_datetime', 'type': 'string'},
  {'name': 'PULocationID', 'type': 'int'},
  {'name': 'DOLocationID', 'type': 'int'},
  {'name': 'passenger_count', 'type': 'int'},
  {'name': 'trip_distance', 'type': 'float'},
  {'name': 'payment_type', 'type': 'int'},
  {'name': 'total_amount', 'type': 'float'}]}

In [10]:
green_df=green_taxi_stream.select(from_avro(col("value"), jsonFormatSchema).alias("value")).select("value.*")

In [11]:
green_df.printSchema()

root
 |-- vendorId: integer (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- dropoff_datetime: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: float (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- total_amount: float (nullable = true)

In [12]:
def sink_console(df, output_mode: str = 'complete', processing_time: str = '5 seconds'):
    write_query = df.writeStream \
        .outputMode(output_mode) \
        .format("console") \
        .trigger(processingTime="5 seconds") \
        .start()
    return write_query # pyspark.sql.streaming.StreamingQuery

In [13]:
write_query = sink_console(green_df, output_mode='append')

In [14]:
write_query

In [8]:
green_df=green_taxi_stream.selectExpr("CAST(value AS STRING)") \
    .withColumn("value", from_json("value", green_taxi_schema)) \
    .select("value.*")
green_df.printSchema()

root
 |-- vendorId: integer (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- dropoff_datetime: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: long (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- total_amount: long (nullable = true)

In [5]:
green_df=green_taxi_stream.selectExpr("CAST(value AS STRING)")

In [15]:
def sink_memory(df, query_name, query_template):
    write_query = df \
        .writeStream \
        .queryName(query_name) \
        .format('memory') \
        .start()
    query_str = query_template.format(table_name=query_name)
    query_results = spark.sql(query_str)
    return write_query, query_results

In [16]:
query_name = 'green_taxi'
query_template = 'select * from {table_name}'
write_query, df_PULocationID = sink_memory(df=green_df, query_name=query_name, query_template=query_template)

In [19]:
df_PULocationID.show()

+--------+---------------+----------------+------------+------------+---------------+-------------+------------+-------------+
|vendorId|pickup_datetime|dropoff_datetime|PULocationID|DOLocationID|passenger_count|trip_distance|payment_type| total_amount|
+--------+---------------+----------------+------------+------------+---------------+-------------+------------+-------------+
|       0|               |                |           0|         -13|              1| 2.5639877E-9|         -29|1.0071982E-11|
|       0|               |                |           0|         -13|              2| 2.5639877E-9|         -29|1.0071982E-11|
|       0|               |                |           0|         -13|              2| 2.5639877E-9|         -29|1.0071982E-11|
|       0|               |                |           0|         -13|              2| 2.5639877E-9|         -29|1.0071982E-11|
+--------+---------------+----------------+------------+------------+---------------+-------------+------------+-------------+

In [14]:
write_query.status

{'message': 'Processing new data',
 'isDataAvailable': True,
 'isTriggerActive': True}

In [23]:
green_df.isStreaming

True

In [14]:
spark.sql("show tables").show()

+--------+----------+-----------+
|database| tableName|isTemporary|
+--------+----------+-----------+
|        |green_taxi|       true|
+--------+----------+-----------+

In [17]:
display(spark.sql("Select * from green_taxi").tail(5))

[Row(value=Row(vendorId=None, pickup_datetime=None, dropoff_datetime=None, PULocationID=None, DOLocationID=None, passenger_count=None, trip_distance=None, payment_type=None, total_amount=None)),
 Row(value=Row(vendorId=None, pickup_datetime=None, dropoff_datetime=None, PULocationID=None, DOLocationID=None, passenger_count=None, trip_distance=None, payment_type=None, total_amount=None)),
 Row(value=Row(vendorId=None, pickup_datetime=None, dropoff_datetime=None, PULocationID=None, DOLocationID=None, passenger_count=None, trip_distance=None, payment_type=None, total_amount=None)),
 Row(value=Row(vendorId=None, pickup_datetime=None, dropoff_datetime=None, PULocationID=None, DOLocationID=None, passenger_count=None, trip_distance=None, payment_type=None, total_amount=None)),
 Row(value=Row(vendorId=None, pickup_datetime=None, dropoff_datetime=None, PULocationID=None, DOLocationID=None, passenger_count=None, trip_distance=None, payment_type=None, total_amount=None))]

In [8]:
spark.sql("Select value.PULocationID, count(1) from green_taxi group by value.PULocationID").show()

AnalysisException: Can't extract value from value#35: need struct type but got string; line 1 pos 61

In [10]:
green_ds = green_df \
  .selectExpr("CAST(key AS STRING)", "CAST(value AS STRING)") \
  .writeStream \
  .format("kafka") \
  .option("kafka.bootstrap.servers", "localhost:9092") \
  .option("topic", "rides_all") \
  .option("checkpointLocation", "data/") \
  .start()

In [6]:
fhv_stream_df = spark \
  .readStream \
  .format("kafka") \
  .option("kafka.bootstrap.servers", "localhost:9092") \
  .option("subscribe", "rides_fhv") \
  .option("includeHeaders", "true") \
  .load()

In [7]:
fhv_stream_ds = fhv_stream_df \
  .selectExpr("CAST(key AS STRING)", "CAST(value AS STRING)") \
  .writeStream \
  .format("kafka") \
  .option("kafka.bootstrap.servers", "localhost:9092") \
  .option("topic", "rides_all") \
  .option("checkpointLocation", "data/") \
  .start()