In [ ]:
pip install SQLAlchemy

In [19]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.5-cp39-cp39-win_amd64.whl (1.2 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.5
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

### Preparation
#### Download data

In [3]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz

--2023-01-24 14:18:58--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz
Resolving github.com (github.com)... 20.205.243.166
Connecting to github.com (github.com)|20.205.243.166|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230124%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230124T061822Z&X-Amz-Expires=300&X-Amz-Signature=3ff2843b98aa26cbf42ee1db00a4146eebc9d2c1da0ad29e7be4356f6a29bdba&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-01-24 14:18:59--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230124%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230124T061822Z&X-Amz-Expires=300&X-Amz-Signature=3ff2843b98aa26cbf42ee1db00a4146eebc9d2c1da0ad29e7be4356f6a29bdba&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11099245 (11M) [application/octet-stream]
Saving to: 'green_tripdata_2019-01.csv.gz'

     0K .......... .......... .......... .......... ..........  0%  126K 85s
    50K .......... .......... .......... .......... ..........  0%  228K 66s
   100K .......... .......... .......... .......... ..........  1% 1.09M 47s
   150K .......... .......... .......... .......... ..........  1%  347K 43s
   200K .......... .......... .......... .......... ..........  2% 1.49M 35s
   250K .......... .......... .......... .......... ..........  2% 1.83M 30s
   300K .......... .......... .......... .......... ..........  3% 2.12M 27s
   350K .......... .......... .......... .......... ..........  3%  488K 26s
   400K .......... .......... .......... .......... ..........  4%  826K 24s
   450K .......... .......... .......... .......... ..........  4% 3.76M 22s
   500K .......... .......... .......... .......... ..........  5% 2.59M 20s
   550K .......... .......... .......... .......... ..........  5% 2.53M 19s
   600K .......... .......... .......... .......... ..........  5% 53.0M 17s
   650K .......... .......... .......... .......... ..........  6% 4.72M 16s
   700K .......... .......... .......... .......... ..........  6% 4.24M 15s
   750K .......... .......... .......... .......... ..........  7%  333K 16s
   800K .......... .......... .......... .......... ..........  7% 4.73M 15s
   850K .......... .......... .......... .......... ..........  8% 4.19M 14s
   900K .......... .......... .......... .......... ..........  8% 5.59M 14s
   950K .......... .......... .......... .......... ..........  9% 5.70M 13s
  1000K .......... .......... .......... .......... ..........  9% 5.19M 12s
  1050K .......... .......... .......... .......... .......... 10% 4.14M 12s
  1100K .......... .......... .......... .......... .......... 10% 4.18M 11s
  1150K .......... .......... .......... .......... .......... 11%  345K 12s
  1200K .......... .......... .......... .......... .......... 11% 5.56M 12s
  1250K .......... .......... .......... .......... .......... 11% 5.32M 11s
  1300K .......... .......... .......... .......... .......... 12% 6.42M 11s
  1350K .......... .......... .......... .......... .......... 12% 5.71M 10s
  1400K .......... .......... .......... .......... .......... 13% 3.34M 10s
  1450K .......... .......... .......... .......... .......... 13% 4.03M 10s
  1500K .......... .......... .......... .......... .......... 14% 4.07M 9s
  1550K .......... .......... .......... .......... .......... 14% 3.71M 9s
  1600K .......... .......... .......... .......... .......... 15% 5.33M 9s
  1650K .......... .......... .......... .......... .......... 15% 4.25M 9s
  1700K .......... .......... .......... .......... .......... 16% 5.50M 8s
  1750K .......... .......... .......... .......... .......... 16% 5.85M 8s
  1800K .......... .......... .......... .......... .......... 17% 5.58M 8s
  1850K .......... .......... .......... .......... .......... 17%  573K 8s
  1900K .......... .......... .......... .......... .......... 17% 4.99M 8s
  1950K .......... .......... .......... .......... .......... 18% 3.12M 8s
  2000K .......... .......... .......... .......... .......... 18% 4.68M 7s
  2050K .......... .......... .......... .......... .......... 19% 4.09M 7s
  2100K .......... .......... .......... .......... .......... 19% 5.26M 7s
  2150K .......... .......... .......... .......... .......... 20% 3.49M 7s
  2200K .......... .......... .......... .......... .......... 20% 11.1M 7s
  2250K .......... .......... .......... .......... .......... 21% 4.83M 7s
  2300K .......... .......... .......... .......... .......... 21% 4.61M 7s
  2350K .......... .......... .......... .......... .......... 22% 3.92M 6s
  2400K .......... .......... .......... .......... .......... 22% 6.00M 6s
  2450K .......... .......... .......... .......... .......... 23% 3.82M 6s
  2500K .......... .......... .......... .......... .......... 23% 4.43M 6s
  2550K .......... .......... .......... .......... .......... 23% 3.96M 6s
  2600K .......... .......... .......... .......... .......... 24% 3.21M 6s
  2650K .......... .......... .......... .......... .......... 24% 7.99M 6s
  2700K .......... .......... .......... .......... .......... 25% 5.20M 6s
  2750K .......... .......... .......... .......... .......... 25% 3.67M 5s
  2800K .......... .......... .......... .......... .......... 26% 1.56M 5s
  2850K .......... .......... .......... .......... .......... 26% 3.60M 5s
  2900K .......... .......... .......... .......... .......... 27% 3.82M 5s
  2950K .......... .......... .......... .......... .......... 27% 3.93M 5s
  3000K .......... .......... .......... .......... .......... 28% 4.19M 5s
  3050K .......... .......... .......... .......... .......... 28% 4.13M 5s
  3100K .......... .......... .......... .......... .......... 29% 3.64M 5s
  3150K .......... .......... .......... .......... .......... 29% 3.71M 5s
  3200K .......... .......... .......... .......... .......... 29% 3.40M 5s
  3250K .......... .......... .......... .......... .......... 30% 4.81M 5s
  3300K .......... .......... .......... .......... .......... 30% 5.88M 5s
  3350K .......... .......... .......... .......... .......... 31% 4.27M 5s
  3400K .......... .......... .......... .......... .......... 31% 3.61M 4s
  3450K .......... .......... .......... .......... .......... 32% 5.92M 4s
  3500K .......... .......... .......... .......... .......... 32% 4.65M 4s
  3550K .......... .......... .......... .......... .......... 33% 2.38M 4s
  3600K .......... .......... .......... .......... .......... 33% 4.03M 4s
  3650K .......... .......... .......... .......... .......... 34% 7.80M 4s
  3700K .......... .......... .......... .......... .......... 34% 5.22M 4s
  3750K .......... .......... .......... .......... .......... 35% 3.81M 4s
  3800K .......... .......... .......... .......... .......... 35% 4.40M 4s
  3850K .......... .......... .......... .......... .......... 35% 62.1K 5s
  3900K .......... .......... .......... .......... .......... 36% 27.1M 5s
  3950K .......... .......... .......... .......... .......... 36% 4.42M 5s
  4000K .......... .......... .......... .......... .......... 37% 9.75M 5s
  4050K .......... .......... .......... .......... .......... 37% 11.8M 5s
  4100K .......... .......... .......... .......... .......... 38% 45.8M 5s
  4150K .......... .......... .......... .......... .......... 38%  110M 5s
  4200K .......... .......... .......... .......... .......... 39% 48.9M 5s
  4250K .......... .......... .......... .......... .......... 39%  131M 5s
  4300K .......... .......... .......... .......... .......... 40% 99.7M 4s
  4350K .......... .......... .......... .......... .......... 40%  178M 4s
  4400K .......... .......... .......... .......... .......... 41% 57.5M 4s
  4450K .......... .......... .......... .......... .......... 41% 80.4M 4s
  4500K .......... .......... .......... .......... .......... 41%  174M 4s
  4550K .......... .......... .......... .......... .......... 42%  100M 4s
  4600K .......... .......... .......... .......... .......... 42%  117M 4s
  4650K .......... .......... .......... .......... .......... 43% 60.8M 4s
  4700K .......... .......... .......... .......... .......... 43% 82.3M 4s
  4750K .......... .......... .......... .......... .......... 44% 96.6M 4s
  4800K .......... .......... .......... .......... .......... 44%  149M 4s
  4850K .......... .......... .......... .......... .......... 45% 72.8M 4s
  4900K .......... .......... .......... .......... .......... 45%  288K 4s
  4950K .......... .......... .......... .......... .......... 46% 4.13M 4s
  5000K .......... .......... .......... .......... .......... 46% 6.10M 4s
  5050K .......... .......... .......... .......... .......... 47% 4.45M 4s
  5100K .......... .......... .......... .......... .......... 47% 3.37M 4s
  5150K .......... .......... .......... .......... .......... 47% 4.58M 4s
  5200K .......... .......... .......... .......... .......... 48%  410K 4s
  5250K .......... .......... .......... .......... .......... 48% 3.65M 4s
  5300K .......... .......... .......... .......... .......... 49% 4.37M 3s
  5350K .......... .......... .......... .......... .......... 49% 4.86M 3s
  5400K .......... .......... .......... .......... .......... 50% 3.89M 3s
  5450K .......... .......... .......... .......... .......... 50% 4.04M 3s
  5500K .......... .......... .......... .......... .......... 51% 4.59M 3s
  5550K .......... .......... .......... .......... .......... 51% 3.91M 3s
  5600K .......... .......... .......... .......... .......... 52% 5.45M 3s
  5650K .......... .......... .......... .......... .......... 52% 7.39M 3s
  5700K .......... .......... .......... .......... .......... 53% 3.39M 3s
  5750K .......... .......... .......... .......... .......... 53% 2.21M 3s
  5800K .......... .......... .......... .......... .......... 53% 19.5M 3s
  5850K .......... .......... .......... .......... .......... 54% 4.93M 3s
  5900K .......... .......... .......... .......... .......... 54% 9.18M 3s
  5950K .......... .......... .......... .......... .......... 55% 7.35M 3s
  6000K .......... .......... .......... .......... .......... 55% 41.8M 3s
  6050K .......... .......... .......... .......... .......... 56% 24.4M 3s
  6100K .......... .......... .......... .......... .......... 56% 99.7M 3s
  6150K .......... .......... .......... .......... .......... 57% 53.6M 3s
  6200K .......... .......... .......... .......... .......... 57% 68.9M 3s
  6250K .......... .......... .......... .......... .......... 58% 39.0M 3s
  6300K .......... .......... .......... .......... .......... 58% 91.4M 2s
  6350K .......... .......... .......... .......... .......... 59%  117M 2s
  6400K .......... .......... .......... .......... .......... 59% 53.5M 2s
  6450K .......... .......... .......... .......... .......... 59% 33.6M 2s
  6500K .......... .......... .......... .......... .......... 60% 31.8M 2s
  6550K .......... .......... .......... .......... .......... 60%  123M 2s
  6600K .......... .......... .......... .......... .......... 61% 46.7M 2s
  6650K .......... .......... .......... .......... .......... 61% 73.2M 2s
  6700K .......... .......... .......... .......... .......... 62% 1.04M 2s
  6750K .......... .......... .......... .......... .......... 62% 6.65M 2s
  6800K .......... .......... .......... .......... .......... 63% 3.34M 2s
  6850K .......... .......... .......... .......... .......... 63% 4.21M 2s
  6900K .......... .......... .......... .......... .......... 64% 8.19M 2s
  6950K .......... .......... .......... .......... .......... 64% 4.29M 2s
  7000K .......... .......... .......... .......... .......... 65% 5.47M 2s
  7050K .......... .......... .......... .......... .......... 65% 77.3M 2s
  7100K .......... .......... .......... .......... .......... 65% 21.6M 2s
  7150K .......... .......... .......... .......... .......... 66% 4.64M 2s
  7200K .......... .......... .......... .......... .......... 66% 5.35M 2s
  7250K .......... .......... .......... .......... .......... 67% 3.45M 2s
  7300K .......... .......... .......... .......... .......... 67% 4.10M 2s
  7350K .......... .......... .......... .......... .......... 68% 4.90M 2s
  7400K .......... .......... .......... .......... .......... 68% 5.83M 2s
  7450K .......... .......... .......... .......... .......... 69% 2.67M 2s
  7500K .......... .......... .......... .......... .......... 69% 5.54M 2s
  7550K .......... .......... .......... .......... .......... 70% 1.27M 2s
  7600K .......... .......... .......... .......... .......... 70% 3.48M 2s
  7650K .......... .......... .......... .......... .......... 71% 2.90M 2s
  7700K .......... .......... .......... .......... .......... 71% 5.07M 2s
  7750K .......... .......... .......... .......... .......... 71% 4.09M 1s
  7800K .......... .......... .......... .......... .......... 72% 1.75M 1s
  7850K .......... .......... .......... .......... .......... 72% 3.10M 1s
  7900K .......... .......... .......... .......... .......... 73% 2.86M 1s
  7950K .......... .......... .......... .......... .......... 73% 3.08M 1s
  8000K .......... .......... .......... .......... .......... 74% 2.15M 1s
  8050K .......... .......... .......... .......... .......... 74% 3.73M 1s
  8100K .......... .......... .......... .......... .......... 75% 2.42M 1s
  8150K .......... .......... .......... .......... .......... 75% 4.64M 1s
  8200K .......... .......... .......... .......... .......... 76% 3.89M 1s
  8250K .......... .......... .......... .......... .......... 76% 4.48M 1s
  8300K .......... .......... .......... .......... .......... 77% 4.47M 1s
  8350K .......... .......... .......... .......... .......... 77% 5.81M 1s
  8400K .......... .......... .......... .......... .......... 77% 3.43M 1s
  8450K .......... .......... .......... .......... .......... 78% 2.70M 1s
  8500K .......... .......... .......... .......... .......... 78% 7.66M 1s
  8550K .......... .......... .......... .......... .......... 79% 5.24M 1s
  8600K .......... .......... .......... .......... .......... 79% 3.05M 1s
  8650K .......... .......... .......... .......... .......... 80% 4.19M 1s
  8700K .......... .......... .......... .......... .......... 80% 5.13M 1s
  8750K .......... .......... .......... .......... .......... 81% 2.63M 1s
  8800K .......... .......... .......... .......... .......... 81% 2.79M 1s
  8850K .......... .......... .......... .......... .......... 82% 4.74M 1s
  8900K .......... .......... .......... .......... .......... 82% 4.76M 1s
  8950K .......... .......... .......... .......... .......... 83% 3.95M 1s
  9000K .......... .......... .......... .......... .......... 83% 3.99M 1s
  9050K .......... .......... .......... .......... .......... 83% 5.49M 1s
  9100K .......... .......... .......... .......... .......... 84% 4.30M 1s
  9150K .......... .......... .......... .......... .......... 84% 3.70M 1s
  9200K .......... .......... .......... .......... .......... 85% 2.75M 1s
  9250K .......... .......... .......... .......... .......... 85% 5.81M 1s
  9300K .......... .......... .......... .......... .......... 86% 4.55M 1s
  9350K .......... .......... .......... .......... .......... 86% 5.53M 1s
  9400K .......... .......... .......... .......... .......... 87% 4.41M 1s
  9450K .......... .......... .......... .......... .......... 87% 1.59M 1s
  9500K .......... .......... .......... .......... .......... 88% 27.8M 1s
  9550K .......... .......... .......... .......... .......... 88% 3.98M 1s
  9600K .......... .......... .......... .......... .......... 89%  194K 1s
  9650K .......... .......... .......... .......... .......... 89% 3.30M 1s
  9700K .......... .......... .......... .......... .......... 89% 7.73M 1s
  9750K .......... .......... .......... .......... .......... 90%  264K 1s
  9800K .......... .......... .......... .......... .......... 90% 4.05M 0s
  9850K .......... .......... .......... .......... .......... 91% 4.35M 0s
  9900K .......... .......... .......... .......... .......... 91% 8.28M 0s
  9950K .......... .......... .......... .......... .......... 92% 5.11M 0s
 10000K .......... .......... .......... .......... .......... 92% 15.9M 0s
 10050K .......... .......... .......... .......... .......... 93% 84.0M 0s
 10100K .......... .......... .......... .......... .......... 93%  125M 0s
 10150K .......... .......... .......... .......... .......... 94%  105M 0s
 10200K .......... .......... .......... .......... .......... 94% 86.4M 0s
 10250K .......... .......... .......... .......... .......... 95%  169M 0s
 10300K .......... .......... .......... .......... .......... 95% 13.2M 0s
 10350K .......... .......... .......... .......... .......... 95%  111M 0s
 10400K .......... .......... .......... .......... .......... 96% 78.0M 0s
 10450K .......... .......... .......... .......... .......... 96%  169M 0s
 10500K .......... .......... .......... .......... .......... 97% 39.6M 0s
 10550K .......... .......... .......... .......... .......... 97%  172M 0s
 10600K .......... .......... .......... .......... .......... 98% 81.1M 0s
 10650K .......... .......... .......... .......... .......... 98%  121M 0s
 10700K .......... .......... .......... .......... .......... 99% 94.5M 0s
 10750K .......... .......... .......... .......... .......... 99% 93.6M 0s
 10800K .......... .......... .......... .........            100%  157M=4.8s

2023-01-24 14:19:06 (2.19 MB/s) - 'green_tripdata_2019-01.csv.gz' saved [11099245/11099245]

In [19]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2023-01-24 14:51:30--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.72.110, 54.231.162.176, 52.217.167.24, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.72.110|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv.1'

     0K .......... ..                                         100% 1.33M=0.009s

2023-01-24 14:51:31 (1.33 MB/s) - 'taxi+_zone_lookup.csv.1' saved [12322/12322]

#### Read csv file

In [15]:
nyc_trip = pd.read_csv(
    'green_tripdata_2019-01.csv.gz',
    compression='gzip',
    parse_dates=["lpep_pickup_datetime", "lpep_dropoff_datetime"],
    infer_datetime_format=True
)
# nyc_trip = pd.read_parquet("yellow_tripdata_2022-01.parquet")
# nyc_trip = nyc_trip.head(100)
nyc_trip.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

In [6]:
nyc_trip.shape

(630918, 20)

#### Connect to postgres db
Postgres db is stored in docker <br/>
Run docker image with postgres first

In [7]:
from sqlalchemy import create_engine

In [8]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [9]:
engine.connect()

get inferred schema from the dataframe

In [18]:
print(pd.io.sql.get_schema(nyc_trip, "green_taxi", con=engine))

CREATE TABLE green_taxi (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

#### Load contents of the dataframe to the postgres connection
If the table exists it will replace the data

In [17]:
nyc_trip.to_sql(name='green_taxi_data', con=engine, if_exists='replace')

918

#### Read and load taxi zone lookup

In [20]:
df_zones=pd.read_csv("taxi+_zone_lookup.csv")

In [21]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

### Homework

#### Question 3. Count records
How many taxi trips were totally made on January 15?

In [23]:
query = """
SELECT count(1)
FROM green_taxi_data
WHERE lpep_pickup_datetime >= '2019-01-15' 
AND lpep_pickup_datetime < '2019-01-16'
AND lpep_dropoff_datetime >= '2019-01-15'
AND lpep_dropoff_datetime < '2019-01-16'
"""

pd.read_sql(query, con=engine)

   count
0  20530

#### Question 4. Largest trip for each day
Which was the day with the largest trip distance Use the pick up time for your calculations.

In [28]:
query = """
SELECT cast(lpep_pickup_datetime as date) as pickup_day, trip_distance
FROM green_taxi_data
WHERE trip_distance=(Select max(trip_distance) from green_taxi_data)
"""

pd.read_sql(query, con=engine)

   pickup_day  trip_distance
0  2019-01-15         117.99

#### Question 5. The number of passengers
In 2019-01-01 how many trips had 2 and 3 passengers?

In [34]:
query = """
SELECT passenger_count, count(1)
FROM green_taxi_data
WHERE (
    lpep_pickup_datetime >= '2019-01-01' 
    AND lpep_pickup_datetime < '2019-01-02'
) AND 
(
    passenger_count=2 OR passenger_count=3
)
group by passenger_count
"""

pd.read_sql(query, con=engine)

   passenger_count  count
0                2   1282
1                3    254

#### Question 6. Largest tip
For the passengers picked up in the Astoria Zone which was the drop off zone that had the largest tip? We want the name of the zone, not the id.

In [36]:
query = """
With pickup_astoria as (
	Select 
	zpu."Zone" as pickup_zone,
	zdo."Zone" as dropoff_zone,
	gt."tip_amount" as tip_amount,
	gt."lpep_pickup_datetime" as lpep_pickup_datetime,
	gt."lpep_dropoff_datetime" as lpep_dropoff_datetime
	from green_taxi_data gt
	JOIN zones zpu on zpu."LocationID"=gt."PULocationID"
	JOIN zones zdo on zdo."LocationID"=gt."DOLocationID"
	where zpu."Zone"='Astoria'
)
Select dropoff_zone, tip_amount from
pickup_astoria where tip_amount=(
    Select max(tip_amount) from pickup_astoria
)

"""

pd.read_sql(query, con=engine)

                    dropoff_zone  tip_amount
0  Long Island City/Queens Plaza        88.0